body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: #000000;
}

.header {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu li a {
  display: inline-block;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 16px 0;
  font-size: 18px;
  position: relative;
}

.header-menu li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu li a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu li a {
    background-color: #111;
    padding: 12px 16px;
    border-radius: 5px;
  }
  .header-menu li a:after {
    display: none;
  }
  .header-menu li a:hover {
    background-color: #2e2e2e;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu li a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
