:root {
  --cor-0: #ffffff;
  --cor-1: #f7f7f7;
  --cor-2: #ededed;
  --cor-3: #dedede;
  --cor-4: #cccccc;
  --cor-5: #b2b2b2;
  --cor-6: #9c9c9c;
  --cor-7: #707070;
  --cor-8: #595959;
  --cor-9: #2f2f2f;
  --cor-10: #111111;
  --cor-11: #000000;
  --cor-p1: #ffbb00;
  --cor-p2: #e5a40b;
  --cor-p3: #a66f00;
  --cor-p4: #664400;
  --cor-p5: #332200;
}

.cor-0 {
  color: #ffffff;
}

.cor-1 {
  color: #f7f7f7;
}

.cor-2 {
  color: #ededed;
}

.cor-3 {
  color: #dedede;
}

.cor-4 {
  color: #cccccc;
}

.cor-5 {
  color: #b2b2b2;
}

.cor-6 {
  color: #9c9c9c;
}

.cor-7 {
  color: #707070;
}

.cor-8 {
  color: #595959;
}

.cor-9 {
  color: #2f2f2f;
}

.cor-10 {
  color: #111111;
}

.cor-11 {
  color: #000000;
}

.cor-p1 {
  color: #ffbb00;
}

.cor-p2 {
  color: #e5a40b;
}

.cor-p3 {
  color: #a66f00;
}

.cor-p4 {
  color: #664400;
}

.cor-p5 {
  color: #332200;
}
